Name: ggd
Description: Fortran Library for reading and writing data in the IMAS General Grid Description (defined within the IDSs data descriptions)
Version: =GGDVERSION=
Libs: -L=GGDPATH=/lib -lggd
Cflags: -I=GGDPATH=/obj
